.footer-container {
  background-color: #000; 
  color: #fff;
  padding: 60px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
hr{
  width: 90%;
  height: 5px;
  margin: 0 auto;
  align-items: center;
  background-color: #f39c12;
  margin-bottom: 50px;
}
.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-links,
.footer-info,
.footer-policies,
.footer-social {
  margin-bottom: 30px;
}

.footer-links h2,
.footer-info h2,
.footer-policies h2,
.footer-social h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  color: #f39c12; 
  margin-bottom: 15px;
}

.footer-links ul,
.footer-policies ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li,
.footer-policies ul li {
  margin-bottom: 10px;
}

.footer-links a,
.footer-policies a {
  color: #fff; 
  text-decoration: none;
  transition: color 0.3s ease; 
}

.footer-links a:hover,
.footer-policies a:hover {
  color: #f39c12; 
}

.footer-info p {
  margin: 5px 0;
  font-size: 1rem;
}

.footer-social .social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-social .social-link {
  color: #f39c12; 
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.footer-social .social-link:hover {
  color: #e67e22; 
  transform: scale(1.05); 
}

.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
}

.footer-bottom p {
  margin: 0;
}
