
.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 10px 20px;
  background-color: #f39c12 !important;
}

.navbar-brand {
  font-family: "Roboto Serif", serif !important;
  font-size: 1.9rem;
  color: #000;
  letter-spacing: 2px;
  font-weight: 700 !important;
}
.navbar-collapse {
  display: none;
}
.navbar-collapse.show {
  display: flex; /* Adjust this as necessary */
}

.navbar-collapse {
  display: none;
}
.navbar-collapse.show {
  display: flex; /* Adjust this as necessary */
}

.navbar-nav .nav-link {
  font-family: "Roboto Serif", serif;
  font-size: 1.1rem;
  color: #212020 !important;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}

.navbar-nav .nav-link:hover {
  color: #f39c12;
  background-color: rgba(255, 255, 255, 0.1);
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: white; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .nav-link{
    color: aliceblue;
  }
  .navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 10px;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .navbar {
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
  position: fixed;
  width: 100%;
  }
  .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.5rem;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
  }
  
}
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
    background-color: #f39c12;
  }

  .navbar-brand {
    font-size: 1.2rem;
    color: #fff;
  }

  .navbar-nav .nav-link {
    font-size: 1rem;
    background-color: transparent !important;
  }
}
