.services-section {
  padding: 60px 20px;
  background-color: #000; 
  color: #fff; 
  text-align: center;
}
hr{
  width: 90%;
  height: 5px;
  margin: 0 auto;
  align-items: center;
  background-color: #f39c12;
  margin-bottom: 50px;
}
.services-intro {
  margin-bottom: 40px;
}

.services-intro h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  color: #f39c12; 
}

.services-intro p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #ccc; 
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-item {
  background-color: #222; 
  border: 1px solid #444; 
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.service-item h3 {
  font-size: 24px;
  color: #f39c12; 
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
}

.service-item p {
  font-size: 16px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.services-showcase {
  margin-top: 40px;
}

.services-showcase h3 {
  font-size: 28px;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  color: #f39c12; 
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.gallery img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #fff; 
}

.services-cta {
  margin-top: 40px;
}

.services-cta p {
  font-size: 18px;
  color: #fff; 
  font-family: 'Roboto', sans-serif;
}

.cta-link {
  color: #f39c12; 
  text-decoration: none;
  font-weight: bold;
}

.cta-link:hover {
  text-decoration: underline;
}
